.app-container {
  display: flex;
}

.content {
  margin-left: 220px;  
  padding: 20px;
  flex: 1;

  display: flex;
  justify-content: center; 
  align-items: center;     
  height: 100vh;           
  box-sizing: border-box;
}