.grid-container {
  display: grid;
  height: 100vh;
  /* Defines a grid with two columns: a fixed-width one and one that takes up the rest of the space */
  grid-template-columns: 800px 1fr; 
}

app-main-content {
  
  display: grid;
  place-items: center;
}