<mat-card>
  <h2>Novo Projeto</h2>

  <form [formGroup]="form" (ngSubmit)="submit()" novalidate>

    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Nome</mat-label>
      <input matInput formControlName="nome">
      <mat-error *ngIf="f.nome.hasError('required')">Obrigatório</mat-error>
      <mat-error *ngIf="f.nome.hasError('maxlength')">Máx. 120 caracteres</mat-error>
    </mat-form-field>

    <div class="row">
      <mat-form-field appearance="outline" class="half">
        <mat-label>Data início</mat-label>
        <input matInput [matDatepicker]="picker1" formControlName="dataInicio">
        <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline" class="half">
        <mat-label>Data fim</mat-label>
        <input matInput [matDatepicker]="picker2" formControlName="dataFim">
        <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
    </div>

    <mat-error *ngIf="form.hasError('range')">
      {{ form.getError('range') }}
    </mat-error>

    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Descrição</mat-label>
      <textarea matInput formControlName="descricao" rows="3"></textarea>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Salvar</button>
  </form>
</mat-card>
