.w-full { width: 100%; }
.row { display: flex; gap: 16px; }
.half { flex: 1; }

:host { 
  display: block; 
  padding: 16px; 
  background: #C0CEAA; 
}

mat-card { 
  background: #FCE7D2; 
}

button[color=primary] { 
  background: #EB5874; 
}
