.criar-contrato-button {
    background-color: #C6D9BA;
    margin-left: 1200px;
    margin-bottom: 30px;
}

.criar-contrato {
    display: flex;
    justify-content: center;
    align-items: center;
}


button:hover{
    background-color: #ECECEC;
}

