.criar-contrato-button {
    background-color: #C6D9BA;
    margin: 0 5px;
    padding: 8px 16px;
}

.criar-contrato {
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover {
    background-color: #ECECEC;
}

