.criar-contrato-button {
    background-color: #C6D9BA;
    margin: 30px;

}

.criar-contrato {
    display: flex;
    justify-content: end;
    align-items: end;
}


button:hover{
    background-color: #ECECEC;
}