<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&display=swap" rel="stylesheet">


<div class="sidebar">
    <h2>Olá,</h2>
    <h2> Boobie Goods </h2>

    <h3> -------------- </h3>
    <div class="options">
        <a [routerLink]="['/projeto']"> Projeto </a>
        <a [routerLink]="['/contrato']"> Contrato</a>
        <a href="#"> Alocações </a>
        <a href="#" data-bs-toggle="modal" data-bs-target="#modalCriacaoPessoa"> Criar Pessoa </a>
        <a href="#" data-bs-toggle="modal" data-bs-target="#modalCriacaoPerfil"> Criar Perfil </a>
        <a href="#"> Calcular custo projeto  </a>
    </div>
  </div>


