<!-- Modal -->
<div
  class="modal fade"
  id="modalPerfil"
  tabindex="-1"
  aria-labelledby="modalPerfilLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalPerfilLabel">Criar Perfil</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <form (ngSubmit)="onSubmit(formPerfil)" #formPerfil="ngForm">
        <div class="modal-body">
          <div>
            <label class="form-label mb-3">Selecione os perfis:</label>
            
            <div class="form-check mb-2">
              <input
                class="form-check-input"
                type="checkbox"
                id="checkGerente"
                name="perfis"
                value="Gerente"
                ngModel
              />
              <label class="form-check-label" for="checkGerente">
                Gerente
              </label>
            </div>
            
            <div class="form-check mb-2">
              <input
                class="form-check-input"
                type="checkbox"
                id="checkDeveloper"
                name="perfis"
                value="Developer"
                ngModel
              />
              <label class="form-check-label" for="checkDeveloper">
                Desenvolvedor
              </label>
            </div>
            
            <div class="form-check mb-2">
              <input
                class="form-check-input"
                type="checkbox"
                id="checkQualityAnalyst"
                name="perfis"
                value="QualityAnalyst"
                ngModel
              />
              <label class="form-check-label" for="checkQualityAnalyst">
                Analista de Qualidade
              </label>
            </div>
            
            <div class="form-check mb-2">
              <input
                class="form-check-input"
                type="checkbox"
                id="checkSecurity"
                name="perfis"
                value="Security"
                ngModel
              />
              <label class="form-check-label" for="checkSecurity">
                Security
              </label>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cancelar
          </button>
          <button type="submit" class="btn btn-primary">Criar perfil</button>
        </div>
      </form>
    </div>
  </div>
</div>
